@media only screen and (max-width: 600px) {
    nav{
        position: fixed;
        background-color: var(--main-bg-clr);
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 0;
        z-index: 10;
        
    }
    nav h1{
        font-size: 1.6vw;
    }

    #MenuBarIcon{
        font-size: 1.5vw;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--main-bg-clr);
        border-radius: 10px;
        transition: all 0.5s ease;
        display: none;
    }
    
    #MenuBarIcon:hover{
        cursor: pointer;
        transform: scale(0.9);
    }
    #nav-part2{
        display: flex;
        align-items: flex-start;
        gap: 2vw;
        padding: 1vh 0;
        z-index: 10;
        position: relative;
    
    }
    #nav-part2 #nav-elem h4{
        font-size: 0.8vw;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.7s ease;
        cursor: pointer;
        margin-bottom: 2vw;
    
    
    }
    #nav-part2 #nav-elem h4:hover{
        color: #787777;
    }
    
    #nav-part2 #nav-elem h5{
        margin: 1vw 0;
        display: none;
        overflow: hidden;
    }
    
    #nav-part2 #nav-elem h5 span{
        font-size: 0.80vw;
        font-weight: 400;
        transform: translateY(25px);
        display: inline-block;
        cursor: pointer;
    }
    #nav-part2 #nav-elem h5 span:hover{
        color: #787777;
        transition: all 0.7s ease;
    }
    #letsTalk{
        background-color: var(--green-theme-clr);
        color: var(--text-color);
        border-radius: 80px;
        border: none;
        outline: none;
        padding: 10px 25px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
    }
    #letsTalk svg{
        background-color: transparent;
        width: 2vw;
        height: 2.5vh;
    }
    
    #navBottom{
        width: 79%;
        background-color:var(--main-bg-clr);
        position: absolute;
        height: 0;
        top: 100%;
        z-index: 9;
        border-bottom: 1px solid var(--text-color);
        transition: all 0.4s linear;
    }

}
@media only screen and (min-width: 601px) and (max-width: 900px) {}